        .story {
            max-width: 110rem;
            margin: 5rem auto;
            display: flex;
            justify-content: center;
        }
        
        .story__grid {
            display: grid;
            max-width: 78rem;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: "story-1 story-2 story-3 story-4";
            gap: 2rem;
            margin: 0 auto;
            padding: 0 1rem;
        }
        
        .story__img {
            max-width: 100%;
        }
        
        .story__media1 {
            grid-area: story-1;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 20px black;
            position: relative;
            cursor: pointer;
        }
        
        .story__back {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            position: absolute;
            //background: rgba(128, 128, 128, 0.493);
            max-width: 17.5rem;
            z-index: 1;
            opacity: 0;
        }
        
        .story__media1:hover .story__back,
        .story__media2:hover .story__back,
        .story__media3:hover .story__back,
        .story__media4:hover .story__back {
            opacity: 8;
            cursor: pointer;
            transition: .2s linear;
        }
        
        .story__media1:hover .add__discribe,
        .story__media2:hover .add__discribe,
        .story__media3:hover .add__discribe,
        .story__media4:hover .add__discribe {
            opacity: 8;
            cursor: pointer;
            transition: 1s linear;
        }
        
        .story__backImg {
            fill: white;
            width: 6rem;
            height: 6rem;
        }
        
        .add__discribe {
            font-size: 1.5rem;
            padding: .5rem;
            color: black;
            background-color: rgb(216, 216, 216);
            margin: 1rem auto;
            border: 1px solid transparent;
            border-radius: 10px;
            opacity: 0;
        }
        
        .story__media2 {
            grid-area: story-2;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 20px black;
            position: relative;
            cursor: pointer;
        }
        
        .story__media3 {
            grid-area: story-3;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 20px black;
            position: relative;
            cursor: pointer;
        }
        
        .story__media4 {
            grid-area: story-4;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 20px black;
            position: relative;
            cursor: pointer;
        }
        /*media*/