/*import*/

@import "vars";
@import "grid";
@import "sidebar";
@import "nav";
@import "story";
@import "add";
@import "media";
@import "post";
@import "storis";
html {
    font-size: 10px;
}

body {
    background-color: rgba(0, 0, 0, 0.822);
    ;
    color: white;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Petemoss', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul {
    list-style: none;
}

*,
*::before,
::after {
    box-sizing: border-box;
}