<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    <main class="grid">

        <aside class="sidebar">
            <div class="sidebar__back">
                <img src="./assets/images/backimage.png" alt="" class="sidebar__img">
            </div>
            <div class="sidebar__photo">
                <img src="./assets/images/kapyushon_14725.jpg" alt="" class="sidebar__avatar">
            </div>
            <h2 class="sidebar__name">Фурсов Олег</h2>
            <p class="sitebar__prof">блог front-end разработчика</p>

            <div class="sitebar__social">
                <img src="./assets/images/instagram .svg" alt="" class="sidebar__instagram">
                <img src="./assets/images/pinterest .svg" alt="" class="sitebar__presting">
                <img src="./assets/images/vk .svg" alt="" class="sitebar__vk">
            </div>

            <p class="sidebar__text">Front-end разработчик. Практик верстки сайтов. Созданием сайтов занимаюсь с 2012 года. Работал в нескольких ИТ компаниях и наработал более 10 000 часов в создании сайтов различной сложности.</p>
            <div class="sidebar__link">
                <a href="#" class="sidebar__linkred">Мои работы</a>
                <a href="#" class="sidebar__linkblue">Написать мне</a>
            </div>
        </aside>
        <!---sidebar-->
        {{> header }}

        <!--post-->
        <section class="post">
            <p class="post__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nuncnam
                id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.</p>
            <div class="post_data">21.06.2020</div>

        </section>
        <!--post-->

        <section class="post__two">
            <div class="post__container">
                <div class="post__imgFlex">
                    <img class="post__img" src="./assets/images/postImg.jpg" alt="">
                </div>

                <h2 class="post__item">Как писать код быстро и безболезненно?</h2>
                <p class="post__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor
                    nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.</p>

                <div class="post__down">

                    <div class="post__left">
                        <div class="post_data">21.06.2020</div>
                        <svg width="6" height="6" viewBox="0 0 6 6" fill="#C4C4C4" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="3" cy="3" r="3" />
                            </svg>
                        <div class="post_data">создание сайтов</div>
                    </div>

                    <div class="post__right">
                        <a href="#" class="post_link">читать</a>
                    </div>

                </div>
            </div>
        </section>
        <!--post__two-->

        <section class="storis">
            <div class="storis__container">
                <!---storis-->
                <div class="storis__block">
                    <img src=".//assets/images/video.png" alt="" class="storis__img">

                    <a href="#" class="storis__link">
                        <svg class="storis__svg" viewBox="0 0 75 75" fill="#2F2BE6" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_5_49)">
                        <path d="M19.2436 1.65369C12.4819 -2.2249 7 0.952489 7 8.74492V66.2496C7 74.0498 12.4819 77.2231 19.2436 73.3482L69.5056 44.5233C76.2695 40.6433 76.2695 34.3572 69.5056 30.4781L19.2436 1.65369Z" />
                        </g>
                        <defs>
                        <clipPath id="clip0_5_49">
                        <rect width="75" height="75" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </a>
                </div>

                <h2 class="storis__text">Купил новый ноутбук за 150 000 руб</h2>
                <div class="post__down storis__down">

                    <div class="post__left">
                        <div class="post_data">21.06.2020</div>
                        <svg width="6" height="6" viewBox="0 0 6 6" fill="#C4C4C4" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="3" cy="3" r="3" />
                            </svg>
                        <div class="post_data storis__link">продвижение видео</div>
                    </div>

                    <div class="post__right storis__link">
                        <a href="#" class="post_link storis__link">оставить комментарий</a>
                    </div>

                </div>

            </div>
        </section>
        <!---storis-->

        {{> footer }}
    </main>



    <script src="assets/js/app.js"></script>
</body>

</html>